<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">


<th:block th:replace="header"></th:block>
<th:block th:replace="administrador/_header"></th:block>


<div class="container mt-6">
  <h1>Usuarios</h1>
  <form role="form" th:action="@{/cliente/solicitar-servicio}" th:method="post" class="mt-4">
    <input type="hidden" name="idCliente" th:attr="value=${usuario.id}">
    <div class="row">
      <div class="col-sm-4">
      <label for="direccion" class="col-sm-6col-form-label">Seleccione tipo de usuario:</label>
      </div>
      <div class="col-sm-4">
       <select class="form-select form-select-sm" name="idEspecialidad" required>
          <option>Seleccionar</option>
          <option>Administrador</option>
          <option>Cliente</option>
          <option>Especialista</option>
        </select>
      </div>
        </div>
        <div class="row">

          <table class="table">
            <thead>
              <tr>
                <th scope="col">NOMBRES</th>
                <th scope="col">DNI</th>
                <th scope="col">TELEFONO</th>
                <th scope="col">DIRECCION</th>
                <th scope="col">ACTIVIDAD</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Karen</th>
                <td>Anaya</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td><a href="#"><i class="bi bi-x-square-fill" style="font-size: 24px;"></i></a>
                    <a href="#"><i class="bi bi-file-lock-fill" style="font-size: 24px;"></i></a>
                  </td>
              </tr>
              <tr>
                <th scope="row">Ivan</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>
                  <a href="#"><i class="bi bi-x-square-fill" style="font-size: 24px;"></i></a>
                    <a href="#"><i class="bi bi-file-lock-fill" style="font-size: 24px;"></i></a>
                </td>
              </tr>
              <tr>
                <th scope="row">Martin</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
                <td>
                  <a href="#"><i class="bi bi-x-square-fill" style="font-size: 24px;"></i></a>
                    <a href="#"><i class="bi bi-file-lock-fill" style="font-size: 24px;"></i></a>
                </td>
              </tr>
            </tbody>
</table>
          
        </div>
  </form>
  </div>

<th:block th:replace="footer"></th:block>

</html>