<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">


<th:block th:replace="header"></th:block>
<th:block th:replace="administrador/_header"></th:block>


<div class="container mt-6">
  <h1>Usuarios Especialistas</h1>
  <form role="form" th:action="@{/cliente/solicitar-servicio}" th:method="post" class="mt-4">
    <input type="hidden" name="idCliente" th:attr="value=${usuario.id}">
    
        <div class="row">

          <table class="table">
            <thead>
              <tr>
                <th scope="col">NOMBRES</th>
                <th scope="col">DNI</th>
                <th scope="col">TELEFONO</th>
                <th scope="col">DIRECCION</th>
                <th scope="col">ACTIVIDAD</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="item: ${clientes}">
                <td th:text="${item.numeroDocumento}"></td>
                <td th:text="${item.nombre}"></td>
                <td th:text="${item.correo}"></td>
                <td th:text="${item.habilitado}"></td>
                <td><a th:href="@{/cliente/cancelar-cliente/{id}(id=${item.id})}"><i class="bi bi-x-square-fill" style="font-size: 24px;"></i></a></td>                
                  <td><a href="#"><i class="bi bi-x-square-fill" style="font-size: 24px;"></i></a>
                      <a href="#"><i class="bi bi-file-lock-fill" style="font-size: 24px;"></i></a>
                </td>
              </tr>
          </tbody>
</table>
          
        </div>
  </form>
  </div>

<th:block th:replace="footer"></th:block>

</html>