<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">


<th:block th:replace="header"></th:block>
<th:block th:replace="administrador/_header"></th:block>


<div class="container mt-6">
  <div class="row">
    <div class="container pt-2 pb-4 d-flex justify-content-end">
    </div>
    <div class="col-sm-6">
      <div>Fecha de Impresión: <span th:text="${#calendars.format(hoy,'EEEE dd ''de''   MMMM ''de'' yyyy')}"></span>
      </div>
      <div>Hora de Impresión <span th:text="${#calendars.format(hoy,'HH:mm')}"></span></div>
    </div>
    <div class="col-sm-6">
      <p>
        <img src="/src/main/resources/static/images/logoserviciosgenerales.png" class="img-fluid"
          alt="logoserviciosgenerales">
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10">

    </div>
    <div class="col-sm-2">
      <a href="#" onclick="print()" class="btn app-bg-darken-primary text-white no-print">Imprimir <i
          class="bi bi-printer-fill"></i></a>
    </div>
  </div>

  <h3 class=titreporte>REPORTE USUARIOS DEL SISTEMA</h3>
  <hr class=bar>

  <div class="row">

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Nro.</th>
          <th scope="col">Usuario</th>
          <th scope="col">Rol</th>
          <th scope="col">Fecha Ingreso</th>
          <th scope="col">Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>igomez@gmail.com</td>
          <td>Especialista</td>
          <td>01/05/2021</td>
          <td>Activo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>martin@mail.com</td>
          <td>Especialista</td>
          <td>15/05/2021</td>
          <td>Activo</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>karen@gmail.com</td>
          <td>Cliente</td>
          <td>10/05/2021</td>
          <td>Activo</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Lista de clientes-->
  <div>
    <h4>CLIENTES</h4>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Nro.</th>
          <th scope="col">NOMBRES</th>
          <th scope="col">APELLIDOS</th>
          <th scope="col">DNI</th>
          <th scope="col">Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="item: ${clientes}">
          <td th:text="${item.id}"></td>
          <td th:text="${item.nombre}"></td>
          <td th:text="|${item.apellidoPaterno} ${item.apellidoMaterno}|"></td>
          <td th:text="${item.numeroDocumento}"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Lista de especialistas-->
  <div>
    <h4>ESPECIALISTAS</h4>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Nro.</th>
          <th scope="col">NOMBRES</th>
          <th scope="col">APELLIDOS</th>
          <th scope="col">DNI</th>
          <th scope="col">Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="item: ${especialistas}">
          <td th:text="${item.id}"></td>
          <td th:text="${item.nombre}"></td>
          <td th:text="|${item.apellidoPaterno} ${item.apellidoMaterno}|"></td>
          <td th:text="${item.numeroDocumento}"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Lista de administradores-->
  <div>
    <h4>ADMINISTRADORES</h4>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Nro.</th>
          <th scope="col">NOMBRES</th>
          <th scope="col">CORREO</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="item: ${administradores}">
          <td th:text="${item.id}"></td>
          <td th:text="${item.nombre}"></td>
          <td th:text="${item.correo}"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<th:block th:replace="footer"></th:block>

</html>