<ul class="nav nav-tabs">
  <li class="nav-item">
    <a th:attr="class=${pageIndex==0 ? 'nav-link active' : 'nav-link'}" href="/cliente/servicios-solicitados">Servicios Solicitados</a>
  </li>
  <li class="nav-item">
    <a th:attr="class=${pageIndex==1 ? 'nav-link active' : 'nav-link'}" href="/cliente/solicitar-servicio">Solicitar servicio</a>
  </li>
  <li class="nav-item">
    <a th:attr="class=${pageIndex==2 ? 'nav-link active' : 'nav-link'}" href="/cliente/reportes">Reportes</a>
  </li>
</ul>