<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="header"></th:block>
<th:block th:replace="cliente/_header"></th:block>

<div class="container">

  <table class="table">
    <thead>
      <tr>
        <th scope="col">ESPECIALISTA</th>
        <th scope="col">DESCRIPCIÓN DE LA SOLICITUD</th>
        <th scope="col">CATEGORÍA</th>
        <th scope="col">ESTADO</th>
        <th scope="col">ACCIONES</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="item: ${serviciosSolicitados}">
        <td th:text="${item.especialistaNombre}"></td>
        <td th:text="${item.detalle}"></td>
        <td th:text="${item.especialidadNombre}"></td>
        <td>SOLICITADO</td>
        <td><a href="#">Calificar</a> | <a th:href="@{/servicio/cancelar-solicitud/{id}(id=${item.id})}">Cancelar solicitud</a></td>
      </tr>
    </tbody>
  </table>

</div>

<th:block th:replace="footer"></th:block>


</html>