<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">


<th:block th:replace="header"></th:block>
<div class="container mt-5">
  <div class="row" style="max-width: 700px;">
    <div class="col-12 col-md-6">
      <a href="/especialista/" class="app-img-link">
        <img src="images/login-especialistas.jpg" class="img-fluid" alt="Login clientes">
        <h4>ESPECIALISTAS</h4>
        <p class="text-black-50">
          Haga click aquí si es un especialista o si desea formar parte de nuestro staff de profesionales para el
          hogar.
        </p>
      </a>
    </div>
    <div class="col-12 col-md-6">
      <a href="/cliente/" class="app-img-link">
        <img src="images/login-clientes.jpg" class="img-fluid" alt="Login clientes">
        <h4>CLIENTES</h4>
        <p class="text-black-50">
          Haga click aquí si desea encontrar un especialista para resolver problemas del hogar.
        </p>
      </a>

    </div>
  </div>
</div>


<form action="usuariocontroller.do" method="post" >
  <div class="">
      <input type="hidden" name="txtProceso" value="recupera">
  </div> 
  <div class="login-form">
      <h1>
          <div class="header_logo"> <img src="resources/imgs/logo_inicio.png" alt=""/><br>
           Recuperar Clave  
          </div>
      </h1> 
      <div class="form-group ">
          <input type="text" class="form-control" placeholder="Email" id="txtCorreo"  name="txtCorreo" 
                 oninvalid="InvalidMsg(this);" oninput="InvalidMsg(this);" required/>
          <i class="fa fa-user"></i>
          <div id ="mensaje1" /></div>
      </div>
      <div class="form-group log-status">
          <input type="password" class="form-control" placeholder="New Password" id="txtClave" name="txtClave" 
                 oninvalid="InvalidMsg(this);" oninput="InvalidMsg(this);" required/>
          <i class="fa fa-lock"></i>
          <div id ="mensaje2" /></div>
      </div>
      <button id="btnSubmit" type="submit" class="log-btn" >Enviar</button><br><br>
      <a class="link" href="index.jsp">Volver</a>
      <div class="vali" id="msgVali">${requestScope.validaciones}</div>
  </div>
</form

<th:block th:replace="footer"></th:block>



</html>