<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">


<th:block th:replace="header"></th:block>
<div class="container mt-5">
  <div class="row" style="max-width: 700px;">
    <div class="col-12 col-md-6">
      <a href="/especialista/" class="app-img-link">
        <img src="images/login-especialistas.jpg" class="img-fluid" alt="Login clientes">
        <h4>ESPECIALISTAS</h4>
        <p class="text-black-50">
          Haga click aquí si es un especialista o si desea formar parte de nuestro staff de profesionales para el
          hogar.
        </p>
      </a>
    </div>
    <div class="col-12 col-md-6">
      <a href="/cliente/" class="app-img-link">
        <img src="images/login-clientes.jpg" class="img-fluid" alt="Login clientes">
        <h4>CLIENTES</h4>
        <p class="text-black-50">
          Haga click aquí si desea encontrar un especialista para resolver problemas del hogar.
        </p>
      </a>

    </div>
  </div>
</div>
<th:block th:replace="footer"></th:block>

</html>