<ul class="nav nav-tabs">
    <li class="nav-item">
      <a th:attr="class=${pageIndex==0 ? 'nav-link active' : 'nav-link'}" href="/especialista/servicios-requeridos">Servicio Requeridos</a>
    </li>
    <li class="nav-item">
      <a th:attr="class=${pageIndex==1 ? 'nav-link active' : 'nav-link'}" href="/especialista/reportes">Reportes</a>
    </li>
    <li class="nav-item">
      <a th:attr="class=${pageIndex==1 ? 'nav-link active' : 'nav-link'}" href="/especialista/comentarios">Comentarios</a>
    </li>
    <li class="nav-item">
      <a th:attr="class=${pageIndex==3 ? 'nav-link active' : 'nav-link'}" href="/especialista/modificar">Modificar Datos</a>
    </li>
  </ul>