<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">


<th:block th:replace="header"></th:block>
<th:block th:replace="especialista/_header"></th:block>

<div class="container mt-6 pt-3">
  <!-- Dynamic block template -->
  <div id="dynamicBlock">
    <h3>Información</h3>
    <div class="mb-3 row">
      <label for="fieldNombre" class="col-sm-2 col-form-label">Nombre:</label>
      <div class="col-sm-10">
        <input type="text" v-bind:readonly="!modeEdition"
          :class="{'form-control':modeEdition, 'form-control-plaintext': !modeEdition}" id="fieldNombre"
          v-model="record.nombre">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="fieldApellidoPaterno" class="col-sm-2 col-form-label">Apellido Paterno:</label>
      <div class="col-sm-10">
        <input type="text" v-bind:readonly="!modeEdition"
          :class="{'form-control':modeEdition, 'form-control-plaintext': !modeEdition}" id="fieldApellidoPaterno"
          v-model="record.apellidoPaterno">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="fieldApellidoMaterno" class="col-sm-2 col-form-label">Apellido Materno:</label>
      <div class="col-sm-10">
        <input type="text" v-bind:readonly="!modeEdition"
          :class="{'form-control':modeEdition, 'form-control-plaintext': !modeEdition}" id="fieldApellidoMaterno"
          v-model="record.apellidoMaterno">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="fieldCorreo" class="col-sm-2 col-form-label">Correo:</label>
      <div class="col-sm-10">
        <input type="text" v-bind:readonly="!modeEdition"
          :class="{'form-control':modeEdition, 'form-control-plaintext': !modeEdition}" id="fieldCorreo"
          v-model="record.correo">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="fieldTelefono" class="col-sm-2 col-form-label">Teléfono:</label>
      <div class="col-sm-10">
        <input type="text" v-bind:readonly="!modeEdition"
          :class="{'form-control':modeEdition, 'form-control-plaintext': !modeEdition}" id="fieldTelefono"
          v-model="record.telefono">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="fieldDireccion" class="col-sm-2 col-form-label">Dirección:</label>
      <div class="col-sm-10">
        <input type="text" v-bind:readonly="!modeEdition"
          :class="{'form-control':modeEdition, 'form-control-plaintext': !modeEdition}" id="fieldDireccion"
          v-model="record.direccion">
      </div>
    </div>
    <button v-if="!modeEdition" @click="handleUpdateClick()" type="button" class="btn btn-primary">ACTUALIZAR</button>
    <button v-if="modeEdition" @click="handleSaveRecordClick()" type="button"
      class="btn btn-primary mr-2">GUARDAR</button>&nbsp;&nbsp;&nbsp;
    <button v-if="modeEdition" @click="modeEdition=false" type="button" class="btn btn-secondary ml-2">CANCELAR</button>
  </div>
</div>

<th:block th:replace="footer"></th:block>
<!-- Dynamic view javascript -->
<script src="/js/especialista/view-modificar.js"></script>
</body>

</html>