<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="es">


<th:block th:replace="header"></th:block>
<div class="container">
  <div class="row">
    <h3>Registro de Especialistas</h3>
    <h5>Registro de Actividades</h5>
    <form role="form" th:action="@{/especialista/registrar}" th:method="post" class="mt-2">
      <div class="row">
        <div class="col-12 col-lg-5">
            <div class="mb-3 row">
                <label for="direccion" class="col-sm-3 col-form-label">Seleccione Actividad</label>
                  <div class="col-sm-9">
                    <select class="form-select form-select-sm" name="idEspecialidad" required>
                      <option th:each="item: ${especialidades}" th:text="${item.nombre}" th:attr="value=${item.id}"></option>
                    </select>
              </div> 
              
           <div class="mb-3 row">
            <label for="descripcionActividad" class="col-sm-3 col-form-label">Descripcion de la actividad</label>
            <div class="col-sm-9">
              <input type="text" id="descripcionActividad" name="descripcionActividad" class="form-control" required>
            </div>
          </div>    
          <div class="mb-3 row">
            <label for="videoActividad" class="col-sm-3 col-form-label">Video Referencial de la Actividad</label>
            <div class="col-sm-9">
              <input type="text" id="videoActividad" name="videoActividad" class="form-control" required>
            </div>
          </div> 
          <div class="mb-3 row">
            <label for="precio" class="col-sm-3 col-form-label">Precio Referencial por visita</label>
            <div class="col-sm-9">
              <input type="text" id="precio" name="precio" class="form-control" autocomplete="off" required>
            </div>
          </div>
           
        </div>
      </div>
      <div class="form-check">
        <input name="aceptaAcuerdo" class="form-check-input" type="checkbox" value="1" id="flexCheckChecked" required>
        <label class="form-check-label" for="flexCheckChecked">
          Aceptar los términos del contrato
        </label>
      </div>
      <div class="mt-3">
        <input type="buttom" value="REGISTRARSE" class="btn app-btn app-bg-primary text-white" />
      </div>
      <p th:text="${mensaje}" />
    </div>
      </form>
  </div>

<th:block th:replace="footer"></th:block>

</html>
        