<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="header"></th:block>
<th:block th:replace="especialista/_header"></th:block>

<div class="container">

  <form role="form" th:action="@{/cliente/servicios - solicitados}" th:method="post" class="mt-4">
    <input type="hidden" name="idCliente" th:attr="value=${usuario.id}">

    <div class="row">

      <table class="table">
        <thead>
          <tr>
            <th scope="col">CLIENTE</th>
            <th scope="col">DESCRIPCIÓN DEL SERVICIO</th>
            <th scope="col">TELÉFONO</th>
            <th scope="col">DIRECCIÓN</th>
            <th scope="col">DISTRITO</th>
            <th scope="col">ESTADO</th>
            <th scope="col">ACCIONES</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="item: ${serviciosSolicitados}">
            <td th:text="${item.clienteNombre}"></td>
            <td th:text="${item.detalle}"></td>
            <td th:text="${item.telefono}"></td>
            <td th:text="${item.direccion}"></td>
            <td>SAN MIGUEL</td>
            <td>SOLICITADO</td>
            <td><input type="button"  value="Atender"> <input type="button" value="Cancelar"> <input type="button" value="Finalizar" disabled > </td>
          </tr>

        </tbody>
      </table>
    </div>
  </form>
</div>

<th:block th:replace="footer"></th:block>


</html>