<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="header"></th:block>
<th:block th:replace="especialista/_header"></th:block>

<div class="container">

    <div class="row">

      <table class="table">
        <thead>
          <tr>
            <th scope="col">CLIENTE</th>
            <th scope="col">DESCRIPCIÓN DEL SERVICIO</th>
            <th scope="col">TELÉFONO</th>
            <th scope="col">DIRECCIÓN</th>
            <th scope="col">DISTRITO</th>
            <th scope="col">ESTADO</th>
            <th scope="col" colspan="3" style="text-align:center">ACCIONES</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="item: ${serviciosSolicitados}">
            <td th:text="${item.clienteNombre}"></td>
            <td th:text="${item.detalle}"></td>
            <td th:text="${item.telefono}"></td>
            <td th:text="${item.direccion}"></td>
            <td th:text="${item.distritoNombre}"></td>
            <td th:text="${item.estado}"></td>
            
            <td>
              <form role="form" th:action="@{/especialista/servicios-requeridos}" th:method="post" class="mt-4">
                <input type="hidden" name="btnEnvio" value="0">
                <input type="hidden" name="idservicio" th:value=${item.id}>
                <input type="hidden" name="correo" th:value=${item.correo}> 
                <input type="hidden" name="estado" th:value=${item.estado}>  
                <!--<input onclick={}    type="submit"  value="Atender">-->


                <div th:if="${item.estado =='SOLICITADO'}">
                  <input  type="submit"  value="Atender">
               </div>

               <div th:if="${item.estado =='EN_PROCESO'}">
                <input  type="submit"  value="Atender" disabled>
               </div>
                
               <div th:if="${item.estado =='RECHAZADO'}">
                <input  type="submit"  value="Atender" disabled>
               </div>
               
               <div th:if="${item.estado =='TERMINADO'}">
                <input  type="submit"  value="Atender" disabled>
               </div>
              </form>
            </td>

            <td>
              <form role="form" th:action="@{/especialista/servicios-requeridos}" th:method="post" class="mt-4">
                <input type="hidden" name="btnEnvio" value="1">
                <input type="hidden" name="idservicio" th:value=${item.id}>
                <input type="hidden" name="correo" th:value=${item.correo}>
                <input type="hidden" name="estado" th:value=${item.estado}> 
                 <!-- <input type="submit" value="Cancelar">-->

                 <div th:if="${item.estado =='SOLICITADO'}">
                  <input type="submit"  value="Cancelar">
               </div>
                 
               <div th:if="${item.estado =='EN_PROCESO'}">
                <input  type="submit"  value="Cancelar" disabled>
               </div>
                
               <div th:if="${item.estado =='RECHAZADO'}">
                <input  type="submit"  value="Cancelar" disabled>
               </div>
               
               <div th:if="${item.estado =='TERMINADO'}">
                <input  type="submit"  value="Cancelar" disabled>
               </div>
              </form>
            </td>

            <td>
              <form role="form" th:action="@{/especialista/servicios-requeridos}" th:method="post" class="mt-4">
                <input type="hidden" name="btnEnvio" value="2">
                <input type="hidden" name="idservicio" th:value=${item.id}>
                <input type="hidden" name="correo" th:value=${item.correo}>
                <input type="hidden" name="estado" th:value=${item.estado}> 
               <!--  <input type="submit" value="Finalizar" disabled > -->

               <div th:if="${item.estado =='SOLICITADO'}">
                <input type="submit"  value="Finalizar" disabled>
             </div>

             <div th:if="${item.estado =='EN_PROCESO'}">
              <input  type="submit"  value="Finalizar">
             </div>
              
             <div th:if="${item.estado =='RECHAZADO'}">
              <input  type="submit"  value="Finalizar" disabled>
             </div>
             
             <div th:if="${item.estado =='TERMINADO'}">
              <input  type="submit"  value="Finalizar" disabled>
             </div>
              </form>
            
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>

<th:block th:replace="footer"></th:block>

<script language="javascript">
  var queryString = window.location.search;
  const urlParams = new URLSearchParams(queryString);
  console.log(urlParams.get('id'))
  document.getElementById('txtId').value = urlParams.get('id');
</script>


</html>